@import "tailwindcss";
@import "tw-animate-css";
/* @plugin 'tailwind-scrollbar'; */

.landing-banner {
  background: url("@/assets/images/school-bus.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}