@import "tailwindcss";
@import "tw-animate-css";
/* @plugin 'tailwind-scrollbar'; */

@theme {
  --font-family-sans: Arial, Helvetica, sans-serif;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: inherit;
}

.landing-banner {
  background: url("@/assets/images/school-bus.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}